USE [master]
GO
/****** Object:  Database [ProyectoPA]    Script Date: 18/12/2024 20:02:26 ******/
CREATE DATABASE [ProyectoPA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoPA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoPA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoPA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoPA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoPA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoPA]
GO
USE [ProyectoPA]
GO
/****** Object:  Sequence [dbo].[Seq_IdEstado]    Script Date: 18/12/2024 20:02:26 ******/
CREATE SEQUENCE [dbo].[Seq_IdEstado] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[equipo]    Script Date: 18/12/2024 20:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipo](
	[Id_Equipo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_equipo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Equipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[equipo_salas]    Script Date: 18/12/2024 20:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipo_salas](
	[Id_equipo_salas] [int] IDENTITY(1,1) NOT NULL,
	[Id_Equipo] [int] NULL,
	[IdSala] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_equipo_salas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estadoSala]    Script Date: 18/12/2024 20:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estadoSala](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[IdSala] [int] NULL,
	[nombreEstado] [varchar](100) NULL,
	[fecha] [date] NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas]    Script Date: 18/12/2024 20:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[IdSala] [int] NULL,
	[fecha] [date] NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[detalle] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 18/12/2024 20:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salas]    Script Date: 18/12/2024 20:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salas](
	[IdSala] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[capacidad] [int] NULL,
	[ubicacion] [varchar](200) NULL,
	[hora_inicio_dispo] [time](7) NULL,
	[hora_fin_dispo] [time](7) NULL,
	[equipo_disponible] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 18/12/2024 20:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[Usuario] [varchar](100) NULL,
	[contrasena] [varchar](100) NULL,
	[Nombre] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
	[FechaCreacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[equipo_salas]  WITH CHECK ADD FOREIGN KEY([Id_Equipo])
REFERENCES [dbo].[equipo] ([Id_Equipo])
GO
ALTER TABLE [dbo].[equipo_salas]  WITH CHECK ADD FOREIGN KEY([IdSala])
REFERENCES [dbo].[salas] ([IdSala])
GO
ALTER TABLE [dbo].[estadoSala]  WITH CHECK ADD FOREIGN KEY([IdSala])
REFERENCES [dbo].[salas] ([IdSala])
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD FOREIGN KEY([IdSala])
REFERENCES [dbo].[salas] ([IdSala])
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[roles] ([IdRol])
GO
USE [master]
GO
